div.visualization {
  text-align: center;
}

table.chessboard {
  margin: auto;
  margin-bottom: 1em;
}
table.chessboard td {
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  border: solid thin black;
}
.highlight {
  background-color: #FAA;
}
.attacked {
  background-color: #F66;
}
.solution {
  background-color: grey;
}
