html {
  background: #020;
}
body {
  max-width: 60em;
  padding-left: 3em;
  padding-right: 3em;
  margin: auto;
  border: solid thin black;
  background-color: #DDD;
}

h1.title {
  text-align: left;
  padding: 1ex;
}

h1, h2, h3, h4 {
  margin-bottom: 1ex;
}

p {
  margin-top: 0;
}

div.outline-text-2, div.outline-text-3, div.outline-text-4 {
  padding: 1em;
  padding-top: 0;
}
.org-src-container {
  max-width: 50em;
  margin: auto;
}
.org-src-container .src {
  positioning: relative;
  color: #EEE;
  background-color: #222;
  overflow: auto;
}
.org-src-container .src::before {
  positioning: absolute;
  top: 0;
  right: 15px;
  color: black;
  background-color: white;
}
#table-of-contents {
  display: none;
}
